.content {
  height: 80%;
}
.product {
  margin-top: 20px;
  display: flex;
  height: 40%;
  justify-content: space-around;
}
.proimage {
  display: flex;
}
.protext {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.text {
  justify-content: flex-end;
  color: rgb(146, 0, 0);
  bottom: 0;
}
