<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop</title>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400italic"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/1ba3acfa04.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <app-nav-bar></app-nav-bar>
    <div style="min-height: 80%;">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </body>
</html>
