<div class="row">
  <div class="col-lg-4 mb-5" *ngFor="let product of products">
    <div class="card">
      <img [src]="product.image" [alt]="product.name" class="card-img-top w-75 h-75 mx-auto">
      <div class="card-body">
        <h3 class="card-title font-weight-bold">{{ product.name }}</h3>
        <p class="card-text">{{ product.description }}</p>
        <div class="d-flex justify-content-between">
          <p class="mh-100">{{ product.price | currency: "USD" }}</p>
          <button [routerLink]="['/products', product.id]" class="btn">See Product</button>
        </div>
      </div>
    </div>
  </div>
</div>