.navbar-nav .nav-link {
  color: #ffffff;
}
.nav-item:hover {
  color: #84c7abb0 !important;
  font-size: large;
}
.navbar {
  min-height: 10%;
  background-color: #1e3932;
}
.logo-img {
  padding-left: 5px;
  padding-right: 15px;
}
