<header class="background-color">
  <nav class="navbar navbar-expand navbar-dark header-content">
    <h5 class="my-0 mr-md-auto font-weight-normal logo-img">
      <img src="assets/coffee-beans.png" alt="coffe-logo" width="50" height="60">
    </h5>
    <nav class="my-2 my-md-0 mr-md-3 topbar">
      <a

        class="p-2 normal-style topbar-left"
        routerLink="/user-board"
        routerLinkActive="active"
        >Profil</a
      >
      <a

        class="p-2 normal-style"
        routerLinkActive="active"
        routerLink="/home"
        >Accueil</a
      >
    </nav>
    <a

      class="signup-b btn normal-style topbar-right"
      routerLinkActive="active"
      routerLinkActive="active"
      routerLink="/register"
      >Sign up</a
    >
    <span class="space-button"></span>
    <a

      class="login-b btn normal-style"
      routerLinkActive="active"
      routerLinkActive="active"
      routerLink="/login"
      >Login</a
    >
    <a
      type="button"
      class="btn normal-style"
      routerLinkActive="active"
    >
      Logout
  </a>
  </nav>
</header>
