a {
  text-decoration: none;
  font-family: Source Sans Pro, sans-serif;
  fill: #e1eeef;
}
.space-button {
  padding-left: 15px;
}

.normal-style {
  color: #ffffff;
}
.active {
  background-color: #e1eeef;
  color: #2b3839;
  fill: #2b3839;
}
.background-color {
  background-color: #165055;
}
.logo-img {
  padding-left: 5px;
  padding-right: 15px;
}
/* #4f7b86 */
