<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <h5 class="my-0 mr-md-auto font-weight-normal">Coffee Shop</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a

        class="p-2 normal-style"
        routerLink="/user-board"
        routerLinkActive="active"
        >Profil</a
      >
      <a

        class="p-2 normal-style"
        routerLinkActive="active"
        routerLink="/home"
        >Accueil</a
      >
    </nav>
    <a

      class="signup-b btn normal-style"
      routerLinkActive="active"
      routerLinkActive="active"
      routerLink="/register"
      >Sign up</a
    >
    <span class="space-button"></span>
    <a

      class="login-b btn normal-style"
      routerLinkActive="active"
      routerLinkActive="active"
      routerLink="/login"
      >Login</a
    >
    <button
      type="button"
      class="btn normal-style"
      routerLinkActive="active"
    >
      Logout
    </button>
  </nav>
</header>
