a { text-decoration: none;
  font-family: Source Sans Pro, sans-serif;
}
.space-button{
padding-left: 15px;
}

.normal-style{
  color: #FFFFFF;
}
.active{
  background-color: #E1EEEF;
  color: #2B3839;
}
.background-color{
background-color: #165055;
}
.logo-img{
  padding-left: 5px;
  padding-right: 15px;

}
/* #4f7b86 */

