<div class="card text-center col-md-6 card-profile">
  <div >
    <h1>Login</h1>
  </div>
  <div class="card-body">
    <form>
    <label>Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter email"
        required
      />
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
      />
      <app-button type="submit" (click)="onSubmitLoginForm()">Login</app-button>
  </form>
  </div>
</div>
