<div class="mt-5">
    <div class="d-flex justify-content-around mx-5" *ngIf="product">
        <div>
            <img class="product-image" [src]="BASE_URL + product.image" alt="coffee" />
        </div>
        <div class="d-flex flex-column text-center justify-content-center">
            <h2>{{product.name | uppercase }}</h2>
            <span class="my-3">{{ product.description }}</span>
            <h2 class="price">Price: {{ product.price | currency: "USD" }}</h2>
            <form [formGroup]="addToCartForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Quantity:
                            </span>
                        </div>
                        <input type="number" name="quantity" min="1" max="10" class="form-control"
                            formControlName="quantity">
                    </div>
                </div>
                <app-button type="submit">Add to cart</app-button>
            </form>
        </div>
    </div>
    <p *ngIf="addedToCart" class="text-success my-3 text-center">
        {{ quantity }} {{ product?.name }} succesfully added to cart !
    </p>
</div>