<div class="container">
    <div class="row" *ngIf="cart && cart.totalPrice != 0 else emptyCart">
        <div class="col-8">
            <div class="text-center mx-auto">
                <div class="card-body h-50 w-50">
                    <div *ngFor="let item of cart.items" class="mt-3">
                        <img class="card-img-top" src="{{ item.product.image }}" alt="{{ item.product.description }}" />
                        <div class="d-flex justify-content-between mt-2">
                            <h4 class="card-title">{{ item.product.name | uppercase }}</h4>
                            <p class="card-text">
                                {{ item.product.price | currency: "USD"}}
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Quantity:
                                </span>
                            </div>
                            <input type="number" name="quantity" min="1" max="10" class="form-control"
                                [value]="item.quantity" (change)="onChangeQuantity(item, $event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-title mt-4 position-fixed">
                <h2>Total : {{ cart.totalPrice | currency: "USD" }}</h2>
                <button class="btn">Buy now</button>
            </div>
        </div>
    </div>
    <ng-template #emptyCart>
        <div class="d-flex flex-column justify-content-center">
            <p class="text-center mt-5">Your cart is empty! Pick something in our store 😇</p>
            <a routerLink='/'>
                <button class="btn my-5">
                    Home
                </button>
            </a>
        </div>
    </ng-template>
</div>