.sos {
  color: white;
  background-color: #98bec8;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  line-height: 3em;
  padding: 14% 0;
}

.sos-r1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 1.1em;
}

.sos-prep {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  vertical-align: middle;
  margin-top: -0.4em;
  display: inline-block;
}

.color-edition{
  color: #98BEC8;
  margin: 0 auto;

}
.style-text{
  font-family: Source Sans Pro, sans-serif;
}
.text-left{
  text-align: left;
}
.card-profile{
  background-color: #4f7b86;
  margin: 0 auto;
}
.align-edition{
  width: 40px;
  height: 37px;
  color: black;
  margin: 0 auto;
}
