

  <!-- Typography -->
<div class="sos">
  <h1 class="sos-r1">Welcome Back, <span class="sos-prep"> Anny</span></h1>
  <div class="card text-left col-md-6 card-profile">
    <div class="card-body">
      <!-- <h3 class="card-title">Username</h3> -->
      <p class="card-text style-text"> Nom:</p>
      <p class="card-text style-text">Prenom:</p>
      <p class="card-text style-text">Email:</p>
      <p class="card-text style-text">Adresse:</p>
    </div>
    <button mat-button class="align-edition">
      <span>
        <mat-icon>
          <span class="color-edition">
            mode_edit
          </span>
        </mat-icon>
      </span>
    </button>
  </div>
</div>



<style type="text/css">
  .sos {
    color: white;
    background-color: #98BEC8;
    text-align: center;
    font-family: Source Sans Pro, sans-serif;
    line-height: 3em;
    padding-top: 5em;
    padding-bottom: 11em;
  }

  .sos-r1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 1.1em;
  }

  .sos-prep {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    vertical-align: middle;
    margin-top: -0.4em;
    display: inline-block;
  }
  </style>


