<!-- Typography -->
<div class="sos">
  <h1 class="sos-r1">Welcome Back</h1>
  <div class="card text-left col-md-6 card-profile">
    <div class="card-body">
      <!-- <h3 class="card-title">Username</h3> -->
      <p class="card-text style-text">Nom:</p>
      <p class="card-text style-text">Prenom:</p>
      <p class="card-text style-text">Email:</p>
      <p class="card-text style-text">Adresse:</p>
    </div>
    <button mat-button class="align-edition">
      <span>
        <mat-icon>
          <span class="color-edition"> mode_edit </span>
        </mat-icon>
      </span>
    </button>
  </div>
</div>
