<app-form title="Register">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName" placeholder="Enter your first name"
        required />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" placeholder="Enter your last name"
        required />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password" required />
    </div>
    <app-button type="submit">Register</app-button>
  </form>
</app-form>